@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

.logocontianer {
    height: 6px;
}

.companylogo {
    width: 150px;
    height: auto;
}


ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 490px;
    height: 60px;
}

li {
    color: #666;
    font-size: .9rem;
    transition: color .3s;
    display: inline-block;
    padding: 26px;
    font-family: "Inter", sans-serif;
}

li:hover {
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.iconwidth {
    width: 20px;
    margin-top: -3px;
}

hr {
    border: .5px solid #ede3e3;
}